/*Desktop screen*/

/*body, text, header, footer*/
body {
    background-color: #FFFFFF;
    color: black;
    font-family: "Roboto", sans-serif;
    max-width: 2000px;
    margin: auto;
}

header,
footer {
    background-color: #F2F2F2;
    width: 100%;

}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: black;
}

h1 {
    padding: 0.5em 0.2em;
}

/*Links*/
a {
    color: #75160E;
}

a:hover {
    color: #370C0C;
}

/*Växa in footer*/
.vxa {
    color: #75160E;
}

/*Text in userheader for register, login*/
.headerdiv {
    font-family: 'Sigmar One', cursive;
    max-width: 25em;
}
.icon-mobile{
    display: none;
}
/*symbol for support/contact beside menu*/
.menyicon img {
    color: black;
    width: 1.5em;
    height: auto;
}

/*"mingård" text under logo */
.navbar-brand p {
    color: #3a3939;
}

.button {
    border: none;
    border-radius: 10%;
    background-color: #F29354;
    height: 2.5em;
    margin: 0.5em;
}

.button:hover {
    background-color: black;
    color: white;
}

/*button search in header*/
.search-btn {
    width: 1.5em;
}

.search-btn-btn {
    background-color: #F29354;
    border: none;
    border-radius: 5%;
}

.search-btn-btn:hover {
    background-color: #ffc6a0;
}

/*DetailsPage*/
.detailsHeader {
    background-color: #FFD6BB;
}

/*article around animal info*/
.detailsArticle {
    background-color: #FDF4EE;
}

/*arrow right to change animal*/
.arrowRightDetails {
    width: 1em;
}

/*arrow left to change animal*/
.arrowLeftDetails {
    width: 1em;
}

/*first div around "grundinformation" */
.detailsDiv {
    background-color: #FDFDFD;
    margin-top: 2em;
}

/* Details header h2 */
.detailsHeader h2 {
    font-size: 1.4em;
    font-weight: 400;
}

/*h3 at detailpage*/
.h3details {
    background-color: #F2F2F2;
    font-size: 1.2em;
    font-weight: 300;
}

.nav-link {
    color: black;

}

.nav-link:hover {
    text-decoration: underline;
    color: #8a3903;
}

.tableRow {
    cursor: pointer;

}

.cow-image {
    height: 100%;
    width: 100%;
    max-width: 200px;
}

/* category buttons*/
.category-btn {
    background-color: #504F4F;
    color: white;
    padding: 0.5em;
    border-radius: 7%;
    border: #504F4F solid 1px;
}

.category-btn:hover {
    background-color: #F2F2F2;
    color: #000000;
    border: solid 1px #000000;
    box-shadow: none;
}

.handleForm {
    background-color: #F5F4F4;
    max-width: 30em;
    padding: 3em;

}

tr .active {
    background-color: #F29354;
}

.btn-alert {
    background-color: #F29354;
    border-radius: 10%;
    padding: 0.5em;
    border: none;
}

.btn-alert:hover {
    background-color: black;
    color: white;
}

.modal {
    background-color: rgba(0, 0, 0, 0.30);
}

.userImage {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}

.bglight {
    background-color: #f2f2f2;
}

.collapsibleDiv {
    background-color: #ffffff;
}

.rbc-date-cell {
    color: black;
}

.fit-content-width {
    width: 100%;
    max-width: 40em;
}

.selectWidth {
    width: 44%;
}

.handleWidth {
    width: 50%;
}

/*tablet screen */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav.link {
        margin: 1%;
    }

    .selectWidth,
    .handleWidth {
        width: 84%;
    }

    .handleForm {
        width: 90%;
    }
    .icon-mobile{
        display: flex;
        margin: auto;
    }
}

/*mobile screen*/
@media screen and (max-width: 576px) {
    .nav {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 999;
        display: inline-flex;
        justify-content: space-between;
        padding: 0 1em;
        border-top: rgb(0, 0, 0) solid 1px;
    }

    .nav-link {
        display: block;
        padding: 0.8em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        color: black;
    }

    .menyicon,
    .nav-calender {
        display: none;
    }

    thead {
        display: none;

    }

    .table-responsive-sm td::before {
        content: attr(data-label);
        font-weight: bold;
        display: block;

    }

    .table-responsive-sm td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;

    }

    .table-responsive-sm td::before {
        position: absolute;
        left: 0;
        width: 50%;
        text-align: left;
        padding-left: 10px;
    }

    .tableRow {
        margin: 1em;

    }

    /* Shows when a new animal starts in the table */
    tbody .animalId {
        background-color: #ffc6a0;
    }

    tbody .td-handle {
        background-color: #FDF4EE;
    }

    .handleForm {
        width: 80%;
    }

    .selectWidth {

        width: 84%;

    }
    .icon-mobile{
        display: flex;
        margin: auto;
    }

    .handleWidth {
        width: 50%;
        margin: auto;
    }

    /* To show Växa Sverige in footer */
    footer {
        padding-bottom: 10%;
    }

    .container-btns {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 80%;
    }

}