/*Desktop screen*/

/*body, text, header, footer*/
body {
    background-color: #FFFFFF;
    color: black;
    font-family: "Roboto", sans-serif;
    max-width: 2000px;
    margin: auto;
}
header, footer{
    background-color: #F2F2F2;
    width: 100%;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: black;
}
h1{
    padding: 0.5em 0.2em;
    }
/*Links*/
a{
    color: #75160E;
}
a:hover{
    color: #370C0C;
}
/*Växa in footer*/
.vxa{
    color: #75160E;
}
/*Text in userheader for register, login*/
.headerdiv{
    font-family: 'Sigmar One', cursive;
    max-width: 25em;
}/*symbol for support/contact beside menu*/
.menyicon img {
    color: black;
    width: 1.5em;
    height: auto;
} /*"mingård" text under logo */
.navbar-brand p{
    color: #F29354;
} 
.button{
    border: none;
    border-radius: 10%;
    background-color: #F29354;
    height: 2.5em;
    margin: 0.5em;
}
.button:hover{
    background-color: black;
    color: white;
} /*button search in header*/
.search-btn{
    width: 1.5em;
}
.search-btn-btn {
    background-color: #F29354;
    border: none;
    border-radius: 5%;
}
.search-btn-btn:hover{
   background-color:  #ffc6a0;
}
/*DetailsPage*/
.detailsHeader{
    background-color: #FFD6BB;
}
/*article around animal info*/
.detailsArticle{
    background-color: #FDF4EE;
}
/*arrow right to change animal*/
.arrowRightDetails{
    width: 1em;
} 
/*arrow left to change animal*/
.arrowLeftDetails{
    width: 1em;
}
/*first div around "grundinformation" */
.detailsDiv{
    background-color: #FDFDFD;
   margin-top: 2em;
}
/* Details header h2 */
.detailsHeader h2{
    font-size: 1.4em;
    font-weight: 400;
}
/*h3 at detailpage*/
.h3details{
    background-color: #F2F2F2;

    font-size: 1.2em;
    font-weight: 300;
}

.cow-image{
    height: 100%;
    width: 100%;
    max-width: 200px;
}
/* category buttons*/
.category-btn{
     background-color: #504F4F;
     color: white;
     padding: 0.5em;
     border-radius: 7%;
     border:#504F4F solid 1px;
}
.category-btn:hover{
    background-color: #F2F2F2;
    color: #000000;
    border: solid 1px  #000000;
    box-shadow: none;
}
.handleForm{
    background-color: #F5F4F4;
}

tr .active{
    background-color: #F29354;
}
.btn-alert{
    background-color: #F29354;
    border-radius: 10%;
    padding: 0.5em;
}
.btn-alert:hover{
    background-color: black;
    color: white;
}
.modal{
    background-color: rgba(0, 0, 0, 0.30);
}
.userImage{
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}
.bglight{
    background-color: #f2f2f2;
}

/*tablet screen */
@media screen and (min-width: 600px) and (max-width: 1024px){
    

}
   /*mobile screen*/
@media screen and (max-width: 600px) {
    
   
}

