/* Webbutvecklingsprogrammet
Självständigt arbete DT140G
Erika Vestin & Sofia Dahlberg */

/*Desktop screen*/

/*body, text, header, footer*/

body {
    background-color: #ffffff;
    color: black;
    font-family: "Roboto", sans-serif;
    max-width: 2000px;
    margin: 0;
}

header {
    background-color: #f2f2f2;
    width: 100%;
}


footer {
    background-color: #f2f2f2;
    width: 100%;
    margin: 0;
}

/* All p elements in font-family Roboto */
p {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    color: black;
}

h1 {
    padding: 0.5em 0.2em;
}

/*Links and hover*/
a {
    color: #75160e;
}

.menuIcon{
    width: 1.6em;
}

a:hover {
    color: #370c0c;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    text-decoration: underline;
    color: #75160e;
}

/*Växa in footer*/
.vxa {
    color: #75160e;
    margin: 0;
}

/*Text in userheader for register, login*/
.headerdiv {
    font-family: "Sigmar One", cursive;
    max-width: 25em;
}

.icon-mobile {
    display: none;
}

.desktop-icon {
    margin-top: 1%;
}

.menyicon-div {
    display: none;
    flex-direction: row;
    margin-top: 1%;
}

.fi {
    font-size: 1.6em;
}

/*symbol for support/contact beside menu + hover*/
.menyicon {
    color: black;
    height: auto;
    margin: 1em;
    text-decoration: none;
}

.menyicon:hover {
    color: #75160e;
}

/* Table width*/
.table{
    width: 80%;
}
 /* table on Handlepage */
 .tableHandle{
    width: 70%;
}



/*"mingård" text under logo */
.navbar-brand p {
    color: #3a3939;
}

/* Design for button class and hover */
.button {
    font-size: 1em;
    border: none;
    border-radius: 5%;
    background-color: #f29354;
    height: 2.5em;
    margin: 0.5em;
}

.button:hover {
    background-color: black;
    color: white;
}

/*button search in header and hover*/
.search-btn {
    width: 1.5em;
}

.search-btn-btn {
    background-color: #f29354;
    border: none;
    border-radius: 5%;
}

.search-btn-btn:hover {
    background-color: #ffc6a0;
}

/*DetailsPage*/
.detailsHeader {
    background-color: #ffd6bb;
}

/*article around animal info*/
.detailsArticle {
    background-color: #fdf4ee;
    width: 50%;
}

.animalInformation {
    width: 80%;
}

/*Arrow right to change to another animal*/
.arrowRightDetails {
    width: 1em;
}

/*Arrow left to change to another animal*/
.arrowLeftDetails {
    width: 1em;
}

/*The first div around "grundinformation" */
.detailsDiv {
    background-color: #fdfdfd;
    margin-top: 2em;
    width: 100%;
}

.detailsDivText {
    font-size: 0.8em;
}

/* Details header h2 */
.detailsHeader h2 {
    font-size: 1.4em;
    font-weight: 400;
}

/*h3 at detailpage*/
.h3details {
    background-color: #f2f2f2;
    font-size: 1.2em;
    font-weight: 300;
}

/* The automatically image */
.cow-image {
    height: 100%;
    width: 100%;
    max-width: 200px;
}

/* category button and hover*/
.category-btn {
    background-color: #504f4f;
    color: white;
    padding: 0.5em;
    border-radius: 7%;
    border: #504f4f solid 1px;
}

.category-btn:hover {
    background-color: #f2f2f2;
    color: #000000;
    border: solid 1px #000000;
    box-shadow: none;
}
/* Form on handle Page */
.handleForm {
    background-color: #f2f2f2;
    max-width: 30em;
}

tr .active {
    background-color: #f29354;
}
/* button for edit and delete + hover */
.btn-alert {
    background-color: #f29354;
    border-radius: 10%;
    padding: 0.5em;
    border: none;
}

.btn-alert:hover {
    background-color: black;
    color: white;
}

.modal {
    background-color: rgba(0, 0, 0, 0.3);
}

.bglight {
    background-color: #f2f2f2;
}


.collapsibleDiv {
    background-color: #ffffff;
}

.collapsible li {
    list-style-type: none;
}

.collapsible .collapsibleInfo {
    margin-top: 3%;
    border-bottom: #000000 1px solid;
}

.rbc-date-cell {
    color: black;
}

.fit-content-width {
    width: 100%;
    max-width: 40em;
}
/* Selectlist for Herd and handle alternatives */
.selectWidth {
    width: 44%;
}

.handleWidth {
    width: 30%;
}

.btn-next-animal {
    font-size: 0.8em;
}

/* For komponente search form */
/* Width on search and filtrate */
.searchOptions {

    width: 50%;
}
/* Shows a scroll list of the results */
.scroll-list-container {
    margin: left;
    font-size: 0.8em;
    max-height: 200px;
    overflow-y: auto;
    width: 31%;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

.scroll-list {
    list-style-type: none;
    padding: 0;
}

.scroll-list li {
    padding: 8px 7px;
}

.scroll-list li a {
    text-decoration: none;
    color: #333;
}


.scroll-list li:hover {
    background-color: #dddddd;

}

/* Account Page */
.account-div {
    max-width: 600px;
}

.account-large {
    width: 100%;
    max-width: 800px;
}

/* the automatically image for user */
.userImage {
    max-width: 200px;
    width: 100%;
    height: 100%;
}

/* Component for messages */

.collapsible-messages {
    margin-top: 2em;

}
.messageDiv {
    background-color: #fffcfc;
    max-width: 598px;
    width: 100%;
    height: max-content;
}
.messageDiv h4{
    font-size: 1.2em;
    text-align: center;
}
.help-div{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: max-content;
}
.support-div{
    max-width: 598px;
    width: 100%;
    background-color: #fffcfc;
    height: 100%;
}
.contact-article{
    padding: 5em 1.5em;
}
.contact-article p{
    max-width: 25em;
}
.collapsible-messages .collapsibleDiv {
    background-color: #fdf4ee;
}

.dateText {
    font-size: 0.7em;
}

/* GetHerdTable and buttons div */
.animalView {
    width: 80%;
}

.contact-article {
    background-color: #fffcfc;
}

.animal-category {
    justify-content: center;
}

/* Success message width */
.alert-success {
    width: 40%;
}

.supportDiv{
    background-color: #fdf4ee;
    height: 100%;
}
.message-div-start{
    margin-left: 2%;
}
.userNav{
    width: 1.5em;
}
.accessibilityDiv{
    width: 60%;
}


/*tablet screen */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav.link {
        margin: 1%;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        margin: auto;
        font-size: 0.8em;
    }

    .selectWidth,
    .handleWidth {
        width: 84%;
    }

    .icon-mobile {
        display: none;
    }
    /* width on icons in menu */

    .menuIcon{
        width: 1em;
    }
    /*article around animal info*/
    .detailsArticle {
        background-color: #fdf4ee;
        width: 80%;
    }

    /*arrow right to change animal*/
    .arrowRightDetails {
        width: 1em;
    }

    /*arrow left to change animal*/
    .arrowLeftDetails {
        width: 1em;
    }

    /*first div around "grundinformation" */
    .detailsDiv {
        background-color: #fdfdfd;
        margin-top: 2em;
    }

    .detailsDivText {
        font-size: 0.8em;
    }

    .animalInformation {
        width: 80%;
    }

    .account-div {
        margin: auto;
        width: 100%;
        height: 100%;
    }
    .userImage {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    /* Width on search and filtrate */
    .searchOptions {
        width: 50%;
    }

    .scroll-list-container {
        font-size: 0.8em;
        max-height: 120px;
        overflow-y: auto;
        width: 100%;
        margin: auto;
    }
    .messageDiv {
        max-width: 460px;
        margin-top: 3em;
        width: 100%;
        height: max-content;
    }

    .help-div{
        flex-direction: column;
        max-width: 700px;
        height: max-content;
    }
    .support-div{
        max-width: 590px;
        width: 100%;
        height: max-content
    }
    /* GetHerdTable and buttons div */
    .animalView {
        width: 100%;
    }

    .button {
        font-size: 0.8em;
    }
/* Success message width */
.alert-success {
    width: 60%;
}

.tableHandle{
    width: 100%;
}

/* Width for calf on handle Page */
.tableCalf{
    width: 80%;
    font-size: 0.9em;
}

.accessibilityDiv{
    width: 70%;
}

}

/*mobile screen*/
@media screen and (max-width: 576px) {
    /* Head menu placed in bottom instead */
    .nav-div {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: auto;
        background-color: white;
        z-index: 999;
        display: flex;
        justify-content: center;
        padding: 0 0.5em;
        border-top: rgb(0, 0, 0) solid 1px;
    }

    .nav {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }

    .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: black;
        padding: 0.8em;
        font-size: 0.8em;
        text-align: center;
        width: 100%;
        text-decoration: none;
    }

    .nav-item {
        list-style: none;
    }

    .menyicon {
        align-self: center;
        margin: 1em;
        text-decoration: none;
    }

    .desktop-icon {
        display: none;
    }

    .menyicon-div {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    thead {
        display: none;
    }

    .table-responsive-sm td::before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
    }

    .table-responsive-sm td {
        display: block;
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .table-responsive-sm td::before {
        position: absolute;
        left: 0;
        width: 50%;
        text-align: left;
        padding-left: 10px;
    }
/* width on table in handle page */
    .table{
        width: 100%;
    }

    /* table on Handlepage */
    .tableHandle{
        width: 80%;
    }
    .tableRow {
        margin: 1em;
    }

    /* Shows when a new animal starts in the table */
    tbody .animalId {
        background-color: #ffc6a0;
    }

    tbody .td-handle {
        background-color: #fdf4ee;
    }

    .handleForm {
        width: 100%;
        padding: 1em;
    }

    .selectWidth {
        width: 100%;
    }

    .icon-mobile {
        display: flex;
        margin: auto;
    }

    .menuIcon{
       margin-bottom: 0.5em;
    }

    .handleWidth {
        width: 60%;
        margin: auto;
    }

    /* To show Växa Sverige in footer */
    footer {
        padding-bottom: 10%;
    }

    .container-btns {
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    /*article around animal info*/
    .detailsArticle {
        background-color: #fdf4ee;
        width: 100%;
    }

    .collapsible {
        width: 90%;
    }

    /* Success message width */
    .alert-success {
        width: 90%;
    }

    /*arrow right to change animal*/
    .arrowRightDetails {
        width: 1em;
    }

    /*arrow left to change animal*/
    .arrowLeftDetails {
        width: 1em;
    }

    /*first div around "grundinformation" */
    .detailsDiv {
        background-color: #fdfdfd;
        margin-top: 2em;
        width: 90%;
    }

    .detailsDivText {
        font-size: 0.8em;
    }

    .account-btns {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        max-width: 300px;
    }

    .account-div {
        flex-direction: column;
        margin: auto;
        width: 100%;
        height: 100%;
    }

    .userImage {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .account-heading {
        font-size: 1.2em;
    }

    .account-text {
        font-size: 0.8em;
    }

    .account-large {
        width: 100%;
    }

    /* Width on search and filtrate */
    .searchOptions {
        width: 100%;
    }

    .scroll-list-container {
        font-size: 0.8em;
        max-height: 120px;
        overflow-y: auto;
        width: 100%;
        margin-bottom: 1em;
    }

    /* For messages */
    .messageDiv {
        width: 100%;
        max-width: 26em;
    }

    .animal-category {
        flex-direction: column;
        margin: auto;
        width: 70%;
    }

    .category-btn {
        width: 100%;
        margin: auto;
    }

    .arrow {
        display: none;
    }

    .collapsibleDiv {
        font-size: 0.8em;
    }

    .button {
        font-size: 0.8em;
    }
    .messageDiv {
        margin-top: 2em;
        width: 100%;
        height: max-content;
    }

    .help-div{
        flex-direction: column;
        height: max-content;
    }
    .support-div{
        width: 100%;
        height: max-content;
    }
    .contact-article p{
        max-width: 22em;
    }

    .accessibilityDiv{
        width: 90%;
    }
}